<!DOCTYPE html>
<html>

<!-- about32:03-->
<%- include('head/head.ejs'); %>

    <body>

        <div class="page-wrapper">



            <!-- Main Header-->
            <%- include('header/header_tempus.ejs'); %>
                <!--End Main Header -->

                <!--Page Title-->
                <section class="page-title" style="background-image:url(/images/background/1.jpg);">
                    <div class="auto-container">
                        <h2>Sobre Nós</h2>
                    </div>
                </section>

                <!--Breadcrumb-->
                <div class="breadcrumb-outer">
                    <div class="auto-container">
                        <ul class="bread-crumb text-center">
                            <li><a href="/">Início</a> <span class="fa fa-angle-right"></span></li>
                            <li><a href="/sobre">TEMPUS </a><span class="fa fa-angle-right"></span></li>
                            <li>Sobre Nós</li>
                        </ul>
                    </div>
                </div>
                <!--End Page Title-->



                <!--About Section-->
                <section class="about-section">
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!--Content Column-->
                            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="sec-title">
                                        <h2>Sobre Tempos/História</h2>
                                    </div>
                                    <div class="text">
                                        <p>A AddedSolutions SR, teve como base no seu nascimento um projeto piloto de estimulação cognitiva, algo que foi sendo construído ao longo de 15 anos. Os seus elementos no âmbito da sua formação académica e profissional
                                            percorreram um trajeto evolutivo no mercado dos serviços de proximidade, vendo em primeira mão como as necessidades mudaram e cresceram nas últimas décadas. </p>
                                        <p>Fomos acompanhando as instituições no setor social, as empresas no sector privado e verificamos que independentemente do carater da entidade, os seus residentes partilhavam das mesmas necessidades, os seus recursos
                                            humanos lidavam com as mesmas lacunas, ambas sentiam a mesma falta de tempo de pessoal e todos lidavam com o agravamento das perdas. Mas foram os idosos que nos ensinaram o que precisavam para poder viver mais
                                            um pouco, foram eles que nos disseram o que estava mal no que tinham e porque os resultados eram tão fracos. </p>
                                        <p>Ao longo dos anos recolhemos pontos de referência, informação, e criamos ferramentas toscas, rudimentares que fomos testando, alterando e mudando de acordo com o freedback das pessoas com quem as experimentamos,
                                            jogamos, brincamos, rimo-nos e percebemos que havia uma forma de fazer que fazia mais sentido, que havia ferramentas que eram mais apetecíveis, mais adequadas, mais faceias de manusear.</p>
                                        <p>Melhoramos, aprimoramos e reorganizamos todo o nosso conhecimento, estruturamo-lo e criamos um programa de estimulação cognitiva, motora e sensorial ao que chamamos TEMPUS. Fomos com ele para a rua, foi testado
                                            em MVP (minimum viable producto), em 12 situações diferentes, entidades diferentes, pessoas idosas diferentes no género, cultura, estrato social, nível cultural, diferentes patologias, diferentes perdas, com
                                            todos verificamos excelentes taxas de sucesso. Percebemos que era algo verdadeiramente valioso no seu dia-a-dia.</p>
                                        <p>Por esta altura procuramos parceiros para melhorar e acrescentar a vertente digital que permite amplificar o estímulo, torná-lo mais divertido e permitir o cuidador acompanhar os resultados, e a equipa medica traduzir
                                            esses mesmos resultados. Hoje temos o Programa de Estimulação Cognitiva, motora e sensorial TEMPUS, composto por um kit de ferramentas – Baú TEMPUS, um método – Plano de Capacitação e Aplicação de Acompanhamento.</p>
                                    </div>
                                </div>
                            </div>

                            <!--Video Column-->
                            <div class="video-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">

                                    <!--Video Box-->
                                    <div class="video-box" style="top: 421px;">
                                        <figure class="image">
                                            <img src="/images/resource/video-img.jpg" alt="">
                                        </figure>
                                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!--End About Section-->

                <!--Fluid Section One-->
                <section class="fluid-section-one">
                    <div class="outer-container clearfix">

                        <!--Image Column-->
                        <div class="image-column" style="background-image:url(/images/resource/image-1.jpg);">
                            <figure class="image-box"><img src="/images/resource/image-1.jpg" alt=""></figure>
                        </div>

                        <!--Content Column-->
                        <div class="content-column">
                            <div class="inner-column">
                                <h2>Porquê TEMPUS?</h2>
                                <div class="text">
                                    <p>O tempo tem sido sempre a referência de maior impacto na estimulação da população idosa. </p>
                                    <p>Os idosos tem todo o tempo do mundo para fazer…</p>
                                    <p>Há os que não gostam de perder tempo com nada...</p>
                                    <p>Há os que tem tempo para tudo e aceitam fazer tudo...</p>
                                    <p>Há os que gostam de ter tempo para estar sozinhos…</p>
                                    <p>Há os que se perderam no tempo…</p>
                                    <p>O Programa TEMPUS oferece a ocupação de quem tem todo o tempo e a rentabilização do pouco tempo que os outros tem!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Fluid Section One-->

                <!--How to it works-->
                <section class="about-section">
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!--Content Column-->
                            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="sec-title">
                                        <h2>Como funciona o Plano de Capacitação TEMPUS?</h2>
                                    </div>
                                    <div class="text">
                                        <p>O plano de capacitação tem a duração de 100h</p>
                                        <p><b>1ª Fase</b>- 50h formação b-learning
                                            <p>35h comunicação e envelhecimento</p>
                                            <p>15 horas método TEMPUS – processo e método</p>
                                        </p>

                                        <p><b>2ª Fase</b>- 40h de formação em campo
                                            <p> 30h treino de ferramentas Baú TEMPUS e aplicação de acompanhamento</p>
                                            <p>10h mais implementação em contexto real</p>
                                        </p>

                                        <p><b>3ª Fase</b>- 10 hora de avaliação pós-implementação
                                            <p>5h partilha focus group</p>
                                            <p>5h validação em campo- na instituição</p>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--Video Column-->
                            <div class="video-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">

                                    <!--Video Box-->
                                    <div class="video-box" style="top: 174px;">
                                        <figure class="image">
                                            <img src="/images/resource/video-img.jpg" alt="">
                                        </figure>
                                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!--End How to it works-->

                <!--Fluid Section One-->
                <section class="fluid-section-one">
                    <div class="outer-container clearfix">

                        <!--Image Column-->
                        <div class="image-column" style="background-image:url(/images/resource/image-1.jpg);">
                            <figure class="image-box"><img src="/images/resource/image-1.jpg" alt=""></figure>
                        </div>

                        <!--Content Column-->
                        <div class="content-column">
                            <div class="inner-column">
                                <h2>A Nossa Missão</h2>
                                <div class="text">
                                    <p>Criar soluções e encontrar respostas.</p>
                                    <p>Desafiar, por meio da pesquisa científica e investigação, o constante crescimento do conhecimento profissional.</p>
                                    <p>Identificar problemas, encontrar soluções práticas, realistas e aplicáveis ao cliente e a sua realidade.</p>
                                    <p>Promover os mais elevados padrões morais, profissionais e pessoais de ética nas equipas de trabalho através da formação contínua, capacitação e formação motivacional.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--End Fluid Section One-->

                <!--How to it works-->
                <section class="about-section">
                    <div class="auto-container">
                        <div class="row clearfix">

                            <!--Content Column-->
                            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">
                                    <div class="sec-title">
                                        <h2>Os Nossos Valores</h2>
                                    </div>
                                    <div class="text">
                                        <p>O ser humano;</p>
                                        <p>A segurança;</p>
                                        <p>Inovação constante;</p>
                                        <p>Novas oportunidades.</p>
                                        <p><b>*</b> Orçamento com base nesta estrutura;
                                        </p>

                                        <p><b>*</b> Todos os textos necessários serão elaborados por nós;
                                        </p>

                                        <p><b>*</b> Toda a informação referente a Unidade de envelhecimento trabalhamos no âmbito do projeto TEMPUS - IPB
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!--Video Column-->
                            <div class="video-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner-column">

                                    <!--Video Box-->
                                    <div class="video-box" style="top: 16px;">
                                        <figure class="image">
                                            <img src="/images/resource/video-img.jpg" alt="">
                                        </figure>
                                        <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="flaticon-arrow"></span></a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <!--End How to it works-->

                <!--Team Section-->
                <%- include('colaboradores/colaboradores.ejs'); %>
                    <!--End Team Section-->

                    <!--Company Section-->
                    <section class="company-section">
                        <div class="auto-container">
                            <div class="sec-title">
                                <h2>Requisito de trabalho para o programa TEMPUS</h2>
                            </div>
                            <div class="text">
                                <p>Se já observaste sobre quem somos e a nossa missão. Basta ter um perfil ideal de acordo com o que observaste, ser proativo, ter vontade de aprender mais.
                                </p>
                                <p>CEO da AddedSolutions é responsável pela supervisão de todos, incluindo registro de fornecedor eficiente e preciso e processamento de avaliação, relatórios.</p>
                            </div>
                            <div class="row clearfix">

                                <!--Column-->
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                    <h3>Responsabilidades</h3>
                                    <ul class="list-style-one">
                                        <li>Aumentar a eficiência operacional dentro do Negócio.</li>
                                        <li>Recrutar, desenvolver, gerenciar, reter, liderar a equipe para garantir a aderência a todas as metas.</li>
                                        <li>Apoiar e otimizar o desenvolvimento de negócios do programa TEMPUS de acordo com a empresa AddedSolutions.</li>
                                        <li>Garantir um bom e pró-ativo trabalho em equipe com os colegas de trabalho.</li>
                                        <li>Compartilhe e busque as melhores práticas e conhecimento.</li>
                                    </ul>
                                </div>

                                <!--Column-->
                                <div class="column col-lg-6 col-md-6 col-sm-12">
                                    <h3>Benefícios e Recompensas</h3>
                                    <div class="text">
                                        <p>Cuidamos do negócio de nossos clientes como nosso negócio. Pensamos e agimos como parceiros de negócios, não como conselheiros acadêmicos.</p>
                                        <p>Impacto pessoal, orientação e trabalho em equipe são apenas alguns dos benefícios de construir uma carreira na sua vida.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    <!--End Company Section-->


                    <!--Subscribe Style One-->
                    <%- include('Inscreva-se/inscrever.ejs'); %>
                        <!--End Subscribe Style One-->

                        <!--Main Footer-->
                        <div class="bottom-parallax">
                            <%- include('footer/footer.ejs'); %>
                        </div>

        </div>
        <!--End pagewrapper-->


        <script src="/js/jquery.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/jquery.fancybox.js"></script>
        <script src="/js/appear.js"></script>
        <script src="/js/owl.js"></script>
        <script src="/js/wow.js"></script>
        <script src="/js/slick.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="/js/script.js"></script>

        <!--Google Map APi Key-->
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyD39_Mb1wKUcuRD-0KPmQT6SQHhEMVX1O0"></script>
        <script src="/js/map-script.js"></script>
        <!--End Google Map APi-->

        <script src="/js/color-settings.js"></script>

    </body>

    <!-- about32:11-->

</html>