<!DOCTYPE html>
<html lang="pt">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Tempus</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel='shortcut icon' type='image/png' href='/assets/img/AddedSolutions.jpg' />
    <link rel="stylesheet" href="/assets/bundles/izitoast/css/iziToast.min.css">
    <link rel="stylesheet" href="/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
</head>

<body>

    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>

                            </a>
                        </li>
                        <li>
                            <a class="nav-link nav-link-lg font-18">
                              <img src="<%= user.instituicao.logo?user.instituicao.logo.url:'/assets/img/AddedSolutions.jpg' %>" style="width: 100%;height: 40px;"  alt="" srcset="">

                            </a>
                        </li>
                        <li>
                            <a class="nav-link nav-link-lg font-18 mr-3">

                                <%= user.instituicao.nome %>
                            </a>
                        </li>

                        <li>

                            <a href="#" class="btn btn-outline-primary mr-3" data-toggle="modal" data-target=".utentes">
                                Utilização da ferramenta
                            </a>

                        </li>





                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="<%= user.foto?user.foto.url:'/assets/img/AddedSolutions.jpg'%>"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Olá
                                <%= user.username %>
                            </div>
                            <a href="/dev" class="dropdown-item has-icon"> <i class="far
                              fa-user"></i> Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/web/auth/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i> Sair
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="/"> <img alt="image" src="/assets/img/AddedSolutions.jpg" class="header-logo" /> <span class="logo-name" style="color: blue; font-size: 12pt;">Tempus</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header"></li>

                        <li class="dropdown active">
                            <a href="/dev/live" class="nav-link"><i data-feather="monitor"></i><span>MONITORIZAÇÃO</span></a>
                        </li>

                        <li class="dropdown ">
                            <a href="/dev" class="nav-link"><i data-feather="user"></i><span>PERFIL</span></a>
                        </li>





                    </ul>
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content" style="margin-top: -30px;">
                <section class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="d-inline">Utentes</h4>
                                        <div class="card-header-action">
                                            <a href="#" class="btn btn-primary">{{utentes.length}}</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-unstyled list-unstyled-border" style="overflow-y: scroll;height:400px;">
                                            <li style="cursor: pointer;" class="media" v-for="(utentec,index) in utentes" :key="index" @click="gdesempenho(index)">
                                                <img alt="image" class="mr-3 rounded-circle" width="50" :src="utentec.foto?utentec.foto:'/assets/img/logo.png'">
                                                <div class="media-body">

                                                    <h6 class="media-title"><a href="javascript:void(0)">{{utentec.nome}}</a></h6>

                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">


                                <div id="tela" v-show="u[uuidutente].rfid" class="card " style="display: none;">
                                    <div class="padding-20">
                                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab" aria-selected="true">Monitorização</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content tab-bordered" id="myTab3Content">
                                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                                                <div>

                                                    <div class="row m-b-20 ">
                                                        <div class="col-4">

                                                            <img style="width: 100px;" :src="u[uuidutente].foto?u[uuidutente].foto:'/assets/img/logo.png'" alt="avatar">
                                                            <div class="about">
                                                                <div class="name">{{u[uuidutente].nome}}</div>
                                                            </div>
                                                            <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#add">+Observação</a>
                                                        </div>
                                                        <div class="col-8">
                                                            <h1 class="font-16 mb-4">
                                                                Ferramenta:{{u[uuidutente].ferramenta}}
                                                            </h1>

                                                            <div class="row mb-0">
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="list-inline text-center">
                                                                        <div class="list-inline-item p-r-30"><i data-feather="file-text" class="col-green"></i>
                                                                            <h5 class="m-b-0">{{u[`${uuidutente}_teste_tempo`].length}}</h5>
                                                                            <p class="text-muted font-14 m-b-0">Nº Jogada</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="list-inline text-center">
                                                                        <div class="list-inline-item p-r-30"><i data-feather="watch" class="col-orange"></i>
                                                                            <h5 class="m-b-0">{{u[`${uuidutente}_t`]}}</h5>
                                                                            <p class="text-muted font-14 m-b-0">Tempo</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="list-inline text-center">
                                                                        <div class="list-inline-item p-r-30"><i data-feather="layers" class="col-green"></i>
                                                                            <h5 class="mb-0 m-b-0">{{(u[`${uuidutente}_acertou`]+u[`${uuidutente}_errou`])>0?(u[`${uuidutente}_acertou`]/(u[`${uuidutente}_acertou`]+u[`${uuidutente}_errou`])*100).toFixed(2):0}}%</h5>
                                                                            <p class="text-muted font-14 m-b-0">Desempenho</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="card-body">
                                                                    <div class="badges">
                                                                        <span v-for="item in u[`${uuidutente}_teste_tempo`]" v-bind:class="{ 'badge badge-success': item=='1', 'badge badge-danger': item=='0' }">{{item=='1'?"Acertou":"Errou"}}</span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div v-show="!u[uuidutente].rfid" class="card" style="height: 532px;">
                                    <h1 style="margin-top: 223px; margin-left: 16px; text-align: center;">De momento, nenhuma ferramenta está a ser usada.</h1>
                                </div>
                            </div>
                        </div>
                    </div>




                </section>

                <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModal">{{utente.nome}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label>Observacao</label>
                                    <textarea class="form-control" v-model="observacao" required=""></textarea>
                                </div>


                                <form>
                                    <button type="button" data-dismiss="modal" aria-label="Close" @click="obsCreate($event)" class="btn btn-primary m-t-15 waves-effect w-100">Adicionar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal fade utentes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="myLargeModalLabel">Utilização de Ferramenta</h5>

                                <div>
                                    <button @click="close_all" class="btn btn-primary">
                                  Parar todas as Utilizações
                                    </button>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="d-inline">Utentes</h4>
                                                <div class="card-header-action">
                                                    <a href="#" class="btn btn-primary">{{utentes_.length}}</a>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <ul class="list-unstyled list-unstyled-border" style="overflow-y: scroll;height:300px;">
                                                    <li style="cursor: pointer;" class="media" v-for="(utentec,index) in utentes_" :key="index" @click="usar(utentec)">
                                                        <img alt="image" class="mr-3 rounded-circle" width="50" :src="utentec.foto?utentec.foto:'/assets/img/logo.png'">
                                                        <div class="media-body">

                                                            <h6 class="media-title"><a href="javascript:void(0)">{{utentec.nome}}</a></h6>

                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">


                                        <div v-if="utente_.rfid">
                                            <div class="card card-primary">

                                                <div class="card-header-action d-flex justify-content-start container">

                                                    <h6 class="mr-2 mt-2"><b>Nome</b>:{{utente_.nome}}</h6>
                                                    <h6 class="mt-2"><b>rfid</b>:{{utente_.rfid}}</h6>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row">

                                                        <div style="cursor: pointer;" v-for="(ferr,index) in ferrs" v-bind:class="{'card-on': ferr[utente_.rfid]?.state=='0',  'card-primary': ferr[utente_.rfid]?.state=='1', 'card-off': ferr[utente_.rfid]?.state=='2' }" class="card col-3 mr-1 card-on" @click="utilizar(index)">
                                                            <div class="card-statistic-4">
                                                                <h5 class="font-15 text-black">{{ferr.nome}}</h5>
                                                                <h5 v-if="ferr[utente_.rfid]?.rfid==utente_.rfid" class="font-10 text-black">Terminar</h5>
                                                                <h5 v-if="ferr[utente_.rfid]?.state==0" class="font-10 text-black">(Disponível)</h5>
                                                                <h5 v-if="ferr[utente_.rfid]?.state==2" class="font-10 text-black">(Não disponível)</h5>
                                                                <h5 v-if="ferr[utente_.rfid]?.state==3" class="font-10 text-black">(Não disponível)</h5>
                                                                <h5 v-if="ferr[utente_.rfid]?.state==4" class="font-10 text-black">(Disponível)</h5>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                        <div v-else class="card" style="height: 400px;">
                                            <h1 style="margin-top: 123px; margin-left: 16px; text-align: center;">
                                                Clique num utente para usar a ferramenta.
                                            </h1>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>


    <!-- General JS Scripts -->
    <script src="/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/chat.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/index.js"></script>
    <script src="/assets/bundles/izitoast/js/iziToast.min.js"></script>
    <!-- Page Specific JS File -->

    <!-- Template JS File -->
    <script src="/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="/assets/js/custom.js"></script>

    <script src="/assets/bundles/datatables/datatables.min.js"></script>
    <script src="/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/bundles/jquery-ui/jquery-ui.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/datatables.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/assets/js/axios.js"></script>

    <script src="/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="/assets/js/page/sweetalert.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>


    <script>
        let id = '<%= user.instituicao.id %>';
        let username = "dffffffffff"

        let jwt = '<%=jwt %>'

        let user = '<%-JSON.stringify(user)%>'
        console.log(jwt, id, "---", JSON.parse(user), user)
        user = JSON.parse(user)
    </script>
    <script src="/assets/js/tempus/inst.live.js"></script>
</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->

</html>
