<!DOCTYPE html>
<html lang="pt">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->
<%- include('../header/auth'); -%>

    <body>

        <div id="app">

            <section class="section">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                            <div class="card card-primary">
                                <div class="card-header d-flex justify-content-between">
                                    <h4>New Password </h4>

                                    <a class="ml-2" href="/">Tempus</a>

                                </div>
                                <div class="card-header d-flex justify-content-between">
                                    <h4 class="mr-2">
                                        <%= user.nome %>

                                    </h4>
                                    <img style=" height: 50px;width: 50px;" src="<%= user.instituicao.logo?user.instituicao.logo.url:'/assets/img/AddedSolutions.jpg' %> ">

                                </div>


                                <div class="card-body">
                                    <form method="POST" action="#" class="needs-validation" novalidate="">
                                        <div class="form-group">
                                            <div class="d-block">
                                                <label for="password" class="control-label">Nova Senha</label>

                                            </div>
                                            <input id="password" v-model="password" type="password" class="form-control" name="password" tabindex="2" required>
                                            <div class="invalid-feedback">
                                                please fill in your password
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-block">
                                                <label for="password" class="control-label">Confirmação da Senha</label>

                                            </div>
                                            <input id="password" v-model="passwordConfirmation" type="password" class="form-control" name="password" tabindex="2" required>
                                            <div class="invalid-feedback">
                                                please fill in your password
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button @click="newpassword($event)" type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                              - Salvar -
                                              </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- General JS Scripts -->


        <%- include('../footer/auth'); -%>


            <script>
                let code = '<%= code %>'
                Vue.createApp({
                    data() {
                        return {
                            passwordConfirmation: '',
                            password: ""
                        }
                    },
                    methods: {
                        newpassword(event) {
                            event.preventDefault();


                            if (this.passwordConfirmation == this.password) {
                                axios
                                    .post('/web/auth/new_password', {
                                        passwordConfirmation: this.passwordConfirmation,
                                        password: this.password,
                                        code

                                    })
                                    .then(({
                                        data
                                    }) => {
                                        // localStorage.setItem('Microaitec-jwt',data.jwt)


                                        location.href = "/instituicao"
                                            //
                                    })
                                    .catch(error => {
                                        iziToast.error({
                                            title: 'Tempus!',
                                            message: "Ocorreu um erro!",
                                            position: 'topRight'
                                        });


                                    });
                            } else {
                                iziToast.error({
                                    title: 'Tempus!',
                                    message: "a senha não são iguais",
                                    position: 'topRight'
                                });
                            }

                        }
                    },
                }).mount('#app');

                let a;
            </script>

    </body>




</html>
